<%- model_class = Team -%>
<script src="teams.js"></script>
<%= stylesheet_link_tag 'teams' %>
<div class="page-header">
  <h1><%= t '.title', default: model_class.model_name.human(count: :many).titleize %></h1>
</div>

<% if can? :create, Team %>
    <%= link_to t('.new', :default => t('teams.index.create_team')),
                new_team_path,
                :class => 'btn btn-primary create-button' %>
<% end %>

<% if user_signed_in? and current_user.teams.present? %>
    <h4><%= t('teams.index.my_teams')%></h4>
    <div class="tile-wrapper">
      <% current_user.teams.each do |team| %>
          <%= render partial: 'application/tile_template', locals: {title: team.name, image_url: team.avatar_url || 'https://owncloud.hpi.de/index.php/s/MF5ElupOS6N4eKC/download', description: team.kind_of_sport,
          destination_path: team_path(team), description_class: ''} %>
      <% end %>
    </div>
<% end %>

<h4><%= t('teams.index.all_teams')%></h4>
<div class="tile-wrapper">
  <% @teams.each do |team| %>
      <%= render partial: 'application/tile_template', locals: {title: team.name, image_url: team.avatar_url || 'https://owncloud.hpi.de/index.php/s/ZFilkMbpK7koelg/download', description: team.kind_of_sport, destination_path: team_path(team),
      description_class: ''} %>
  <% end %>
</div>

