<%- model_class = Team -%>
<div class="page-header">
  <h1><%= t '.title', default: model_class.model_name.human(count: :many).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <% [:id, :name, :created_at].each do |attribute| %>
        <th><%= model_class.human_attribute_name(attribute) %></th>
      <% end %>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.id, team_path(team) %></td>
        <td><%= team.name %></td>
        <td><%=l team.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      team_path(team), :class => 'btn btn-default btn-xs' %>
          <% if can? :edit, team %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_team_path(team), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if can? :destroy, team %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        team_path(team),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
                        :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if can? :create, Team %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_team_path,
              :class => 'btn btn-primary' %>
<% end %>