<%- model_class = Team -%>
<%= stylesheet_link_tag 'teams' %>

<div id="teamProfile">
  <div class="container">
    <div class="row" style="padding-top: 10vh;">
      <div class="col s12 center">
        <%= image_tag @team.avatar_url || image_path('https://owncloud.hpi.de/index.php/s/8gBDPW6Wze8w65U/download'), id: 'teamProfileImage'%>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <h1><%= @team.name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col s10 offset-s1">
        <p class="center white-text"><%= @team.description %></p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        <% if user_signed_in? %>
            <% if can? :delete_membership, @team, current_user.id %>
                <%= link_to t('.delete_membership', :default => t("helpers.links.leave_team")),
                            delete_membership_team_path(@team, :team_member => current_user.id),
                            :method => 'post',
                            :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm_leave_team"))},
                            :class => 'btn btn-danger genericButton',
                            :id => 'membershipButton'
                %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div style="clear: both" />
