<%- model_class = Team -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
<dl class="dl-horizontal">
  <dt><strong><%=t '.name', :default => t("helpers.name") %>:</strong></dt>
  <dd><%= @team.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%=t '.kind_of_sport', :default => t("helpers.teams.kind_of_sport") %>:</strong></dt>
  <dd><%= @team.kind_of_sport %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%=t '.description', :default => t("helpers.teams.description") %>:</strong></dt>
  <dd><%= @team.description %></dd>
</dl>

<%= form_tag perform_action_on_multiple_members_team_path(@team) do %>
  <table class="table table-striped">
      <thead>
          <tr>
            <th><%= t '.select', :default => t("helpers.select.prompt") %></th>
            <th><%= model_class.human_attribute_name(:id) %></th>
            <th><%= model_class.human_attribute_name(:first_name) %></th>
            <th><%= model_class.human_attribute_name(:last_name) %></th>
            <th><%= t '.actions', :default => t("helpers.actions") %></th>
          </tr>
          </thead>
    <tbody>
    <% @team.members.each do |member| %>
        <tr>
          <td><%= check_box_tag "members[]", member.id %></td>
          <td><%= member.id %></td>
          <td><%= member.first_name%></td>
          <td><%= member.last_name%></td>
          <td>
            <%= link_to t('.email', :default => t("helpers.links.email")),
                        team_path(@team),
                        :method => 'get',
                        :class => 'btn btn-default btn-xs' %>
            <% if (@team.owners.include? current_user) %>
                <% if (@team.owners.include? member) %>
                    <%= link_to t('.delete_ownership', :default => t("helpers.links.delete_ownership")),
                                delete_ownership_team_path(@team, :team_member => member.id),
                                :method => 'post',
                                :class => 'btn btn-default btn-xs',
                                :disabled => (cannot? :delete_ownership, @team) %>
                <% else %>
                    <%= link_to t('.assign_ownership', :default => t("helpers.links.assign_ownership")),
                                assign_ownership_team_path(@team, :team_member => member.id),
                                :method => 'post',
                                :class => 'btn btn-default btn-xs',
                                :disabled => (cannot? :assign_ownership, @team)%>
                <% end %>
                <%= link_to t('.delete_membership', :default => t("helpers.links.delete_membership")),
                            delete_membership_team_path(@team, :team_member => member.id),
                            :method => 'post',
                            :class => 'btn btn-xs btn-danger',
                            :disabled => (cannot? :delete_membership, @team, member.id)%>
            <% end %>
          </td>
        </tr>
    <% end %>
    <tr>
      <td>
        <button type="button" id="check_all" class="btw"><%="Check all/Uncheck all"%></button>

        <%= t('.apply_action', :default => t("helpers.teams.apply_action")) %>
      </td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <%= link_to t('.email', :default => t("helpers.links.email")),
                    team_path(@team),
                    :method => 'get',
                    :class => 'btn btn-default btn-xs' %>

        <%= submit_tag t('.assign_ownership', :default => t("helpers.links.assign_ownership")), name: "assign_ownership" %>
        <%= submit_tag t('.delete_ownership', :default => t("helpers.links.delete_ownership")), name: "delete_ownership" %>
        <%= submit_tag t('.delete_membership', :default => t("helpers.links.delete_membership")), name: "delete_membership" %>
      </td>
    </tr>
    </tbody>
  </table>
<% end %>

<%# app/helpers/button_helper.rb %>
<%= back_btn %>
<% if can? :edit, @team %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_team_path(@team), :class => 'btn btn-default' %>
<% end %>
<% if can? :destroy, @team %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              team_path(@team),
              :method => 'delete',
              :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm"))},
              :class => 'btn btn-danger' %>
<% end %> 
