<%- model_class = Team -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%=t '.name', :default => t("helpers.name") %>:</strong></dt>
  <dd><%= @team.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%=t '.kind_of_sport', :default => t("helpers.teams.kind_of_sport") %>:</strong></dt>
  <dd><%= @team.kind_of_sport %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong><%=t '.description', :default => t("helpers.teams.description") %>:</strong></dt>
  <dd><%= @team.description %></dd>
</dl>

<table class="table table-striped">
  <tbody>
    <% @team.members.each do |member| %>
      <tr>
        <td>
          <%= member.id%> <%= member.first_name%> <%= member.last_name%>
            
          <% if can? :delete_ownership, @team %>
            <%= link_to t('.delete_ownership', :default => t("helpers.links.delete_ownership")),
            delete_ownership_team_path(@team, :team_member => member.id), :method => 'post', :class => 'btn btn-default btn-xs' if @team.owners.include? member %>
          <% end %>

          <% if can? :assign_ownership, @team %>
            <%= link_to t('.assign_ownership', :default => t("helpers.links.assign_ownership")),
            assign_ownership_team_path(@team, :team_member => member.id), :method => 'post', :class => 'btn btn-default btn-xs' if !@team.owners.include? member  %>
          <% end %>

          <%= link_to t('.delete_membership', :default => t("helpers.links.delete_membership")),
          delete_membership_team_path(@team, :team_member => member.id), :method => 'post', :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :assign_membership_by_email, @team %>
  <%= link_to t('teams.show.invite_user_to_team'),
              '#',
              data: {'toggle': 'modal', 'target': '#invite_user_by_email_modal'},
              class: 'btn btn-primary' %>

  <div class="modal fade" id="invite_user_by_email_modal" tabindex="-1" role="dialog" aria-labelledby="<%= t('teams.invite_user_to_team.title') %>" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="<%= t('helpers.links.close') %>"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title"><%= t('teams.invite_user_to_team.title') %></h4>
        </div>
        <form action="<%= assign_membership_by_email_team_path(@team) %>" method="post">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div class="modal-body">
            <div class="form-group">
              <label for="invited-user-email" class="form-control-label"><%= t('activerecord.attributes.user.email') %></label>
              <input type="email" class="form-control" id="invited-user-email" name="email">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t('helpers.links.cancel') %></button>
            <input type="submit" class="btn btn-primary" value="<%= t('helpers.links.send') %>" />
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>

<%# app/helpers/button_helper.rb %>
<%= back_btn %>
<% if can? :edit, @team %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_team_path(@team), :class => 'btn btn-default' %>
<% end %>
<% if can? :destroy, @team %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                team_path(@team),
                :method => 'delete',
                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm"))},
                :class => 'btn btn-danger' %>
<% end %>