<%- model_class = User -%>
<div class="page-header">
  <h1><%= @user.name %></h1>
</div>

<br>
<div class="text-center">
<%= image_tag @user.avatar_url || image_path('missing_avatar.png'), id: 'preview', style: 'max-width:500px; max-height:500px'%>
</div>
<br>
<dl class="dl-horizontal">
  <% if @user.birthday.present? %>
    <dt style="width:165px"><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
    <dd><%= @user.birthday %></dd>
  <% end %>
  <% if @user.telephone_number.present? %>
    <dt style="width:165px"><strong><%= model_class.human_attribute_name(:telephone_number) %>:</strong></dt>
    <dd><%= @user.telephone_number %></dd>
  <% end %>
  <% if @user.telegram_username.present? %>
    <dt style="width:165px"><strong><%= model_class.human_attribute_name(:telegram_username) %>:</strong></dt>
    <dd><%= @user.telegram_username %></dd>
  <% end %>
  <% if @user.favourite_sports.present? %>
    <dt style="width:165px"><strong><%= model_class.human_attribute_name(:favourite_sports) %>:</strong></dt>
    <dd><%= @user.favourite_sports %></dd>
  <% end %>
  <% if @user.contact_information.present? %>
      <dt style="width:165px"><strong><%= model_class.human_attribute_name(:contact_information) %>:</strong></dt>
      <dd><%= @user.contact_information %></dd>
  <% end %>
</dl>

<%# app/helpers/button_helper.rb %>
<%= back_btn %>
<% if can? :edit, @user %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-default' %>
<% end %>
