<%- model_class = User -%>
<div class="page-header">
  <h1><%=@user.name %></h1>
</div>

<br>
<div class="text-center">
<%= image_tag @user.avatar_url || image_path('missing_avatar.png'), id: 'preview', style: 'max-width:500px; max-height:500px'%>
</div>
<br>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:birthday) %>:</strong></dt>
  <dd><%= @user.birthday %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telephone_number) %>:</strong></dt>
  <dd><%= @user.telephone_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telegram_username) %>:</strong></dt>
  <dd><%= @user.telegram_username %></dd>
  <dt><strong><%= model_class.human_attribute_name(:favourite_sports) %>:</strong></dt>
  <dd><%= @user.favourite_sports %></dd>
</dl>

<%# app/helpers/button_helper.rb %>
<%= back_btn %>
<% if can? :edit, @user %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn btn-default' %>
<% end %>
