<div class="form-group" id="event_deadline_div">
  <%= f.label :deadline, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :deadline,
                     id: :event_deadline,
                     class: 'form-control',
                     data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'} %>
    <%= f.error_span(:deadline) %>
  </div>
</div>

<div class="form-group" id="event_startdate_div">
  <%= f.label :startdate, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :startdate,
                     id: :event_startdate,
                     class: 'form-control',
                     data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'} %>
    <%= f.error_span(:startdate) %>
  </div>
</div>

<div class="form-group" id="event_enddate_div">
  <%= f.label :enddate, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :enddate,
                     id: :event_enddate,
                     class: 'form-control',
                     data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'} %>
    <%= f.error_span(:enddate) %>
  </div>
</div>

<div class="form-group" id="event_duration_div">
  <%= f.label :duration, :class => 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= f.text_field :duration, id: :event_duration, :class => 'form-control' %>
  </div>
</div>
