<%= render 'events/forms/parts/dates', form: form %>
<%= render 'events/forms/parts/player_type', form: form %>
<%= render 'events/forms/parts/selection_type', form: form %>
<%= render 'events/forms/parts/min_max_players_per_team', form: form %>

<div class="form-group" id="event_game_modes">
  <%= form.label :game_mode, class: 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.select(:game_mode, League.game_modes.map { |k, _| [League.human_game_mode(k), k] },
                            { selected: @event.game_mode, include_blank: t('events.new.select_game_mode') },
                            { class: 'form-control' , id: :event_game_mode }) %>
  </div>
</div>

<div class="form-group">
  <%= form.label :gameday_duration, class: 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.number_field :gameday_duration, id: :event_gameday_duration, class: 'form-control' %>
  </div>
</div>
