<%- model_class = User -%>

<%= render partial: 'application/validation_errors', locals: {model: resource} %>

<div class="page-header">
  <h1><%= t 'helpers.titles.edit', model: model_class.model_name.human.titleize %></h1>
</div>

<%= form_for(resource, as: resource_name, url: user_path(@user), html: { class: 'form-horizontal user', method: :put }) do |f| %>
  <div class="form-group">
    <%= f.label :first_name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
      <%= f.error_span(:first_name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :last_name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, class: 'form-control' %>
      <%= f.error_span(:last_name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.error_span(:email) %>
    </div>
  </div>
  <% unless @user.has_omniauth? %>
    <div class="form-group">
      <%= f.label :password, class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
        <%= f.error_span(:password) %>
        <p class="help-block"><i><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></i></p>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.password_field :password_confirmation, class: 'form-control'  %>
        <%= f.error_span(:password_confirmation) %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class: 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.password_field :current_password, class: 'form-control' %>
        <%= f.error_span(:current_password) %>
        <p class="help-block"><i><%= t('.we_need_your_current_password_to_confirm_your_changes') %></i></p>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <label class="control-label col-lg-2">OpenID</label>
    <div class="col-lg-10">
      <% if @user.has_omniauth? %>
          <%= link_to t('devise.registrations.unlink_provider', provider: 'OpenID'),
                      unlink_user_path(@user),
                      class: 'btn btn-warning',
                      role: 'button'
          %>
      <% else %>
          <%= link_to t('devise.registrations.link_provider', provider: 'OpenID'),
                      link_user_path(@user),
                      class: 'btn btn-info',
                      role: 'button'
          %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t('helpers.links.cancel')),
                user_path(@user), class: 'btn btn-default' %>
      <%= t('.unhappy') %>? <%= link_to t('.cancel_this_account'), user_path(@user), data: { confirm: t('.are_you_sure', default: t('helpers.links.confirm')) }, method: :delete %>.
    </div>
  </div>
<% end %>
