<div class="page-header">
  <h1><%= t 'view.user.notifications.settings' %></h1>
</div>
<%= form_for(@user, url: user_path(@user), method: :patch) do |f| %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.check_box :team_notifications_enabled %>
      <%= f.label :team_notifications_enabled, t('view.user.notifications.enable_team_notifications') %> <br>

    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.check_box :event_notifications_enabled %>
      <%= f.label :event_notifications_enabled, t('view.user.notifications.enable_event_notifications') %> <br>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
