<!-- Add css file manually, since it does not get linked automatically as it should -->
<%= stylesheet_link_tag 'welcome' %>

<div class="section darkblue-soccer">
  <div class="row">
    <div class="col s12">
      <h1 class="white-text center"><%= t('welcome.index.lead') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col s10 offset-s1">
      <p class="white-text center" id="header-description"><%= t('welcome.index.lead-description') %></p>
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col s12 center">
      <% if not user_signed_in? %>
          <%= link_to t('welcome.index.free-sign-up'), new_user_session_path , class: 'btn registerButton'%>
      <% end %>
    </div>
  </div>
  <div class="row" style="margin-top: 70px;">
    <div class="col m4 l2 offset-l1 offset-m2 center">
      <img class="sport-image" src="https://owncloud.hpi.de/index.php/s/IItyAIGtevods2X/download"/>
      <div class="clear">
        <span class="sport-name"><%= t('welcome.index.soccer') %></span>
      </div>
    </div>
    <div class="col m4 l2 center">
      <img class="sport-image" src="https://owncloud.hpi.de/index.php/s/TDiXLgm0Sqhwxn6/download"/>
      <div class="clear">
        <span class="sport-name"><%= t('welcome.index.basketball') %></span>
      </div>
    </div>
    <div class="col m4 l2 offset-m2 center">
      <img class="sport-image" src="https://owncloud.hpi.de/index.php/s/Ws9gDsi8XdWSUtF/download"/>
      <div class="clear">
        <span class="sport-name"><%= t('welcome.index.volleyball') %></span>
      </div>
    </div>
    <div class="col m4 l2 center">
      <img class="sport-image" src="https://owncloud.hpi.de/index.php/s/a5hyIspQSjTmr2P/download"/>
      <div class="clear">
        <span class="sport-name"><%= t('welcome.index.table-tennis') %></span>
      </div>
    </div>
    <div class="col m12 l2 center">
      <img class="sport-image" src="https://owncloud.hpi.de/index.php/s/bnWpUw1I5EHQ8lt/download"/>
      <div class="clear">
        <span class="sport-name"><%= t('welcome.index.others') %></span>
      </div>
    </div>
  </div>
</div>

<div class="section lightblue-soccer">
  <div class="row">
    <div class="col s12 m6 offset-m2">
      <h1 class="white-text">
        <%= t('welcome.index.section1') %>
      </h1>
      <p class="white-text">
        <%= t('welcome.index.section1-description') %>
      </p>
    </div>
    <div class="col s12 m2">
      <img class="sport-player" src="https://owncloud.hpi.de/index.php/s/ZyvegSKkk8jLHup/download"/>
    </div>
  </div>
</div>

<div class="section orange-basketball">
  <div class="row">
    <div class="col s12 m2 offset-m2">
      <img class="sport-player" src="https://owncloud.hpi.de/index.php/s/w5hjuUShQSiyvCp/download"/>
    </div>
    <div class="col s12 m6">
      <h1 class="white-text">
        <%= t('welcome.index.section2') %>
      </h1>
      <p class="white-text">
        <%= t('welcome.index.section2-description') %>
      </p>
    </div>
  </div>
</div>

<div class="section white-nothing">
  <div class="row center">
    <div class="col s12">
      <h1>
        <%= t('welcome.index.section3') %>
      </h1>
    </div>
  </div>
  <div class="row">

  </div>
</div>

<div class="section purple-skating">
  <div class="row center">
    <div class="col s12 m8 offset-m2">
      <h1 class="white-text">
        <%= t('welcome.index.section4') %>
      </h1>
      <p class="white-text">
        <%= t('welcome.index.section4-description') %>
      </p>
    </div>
  </div>
</div>