<%= stylesheet_link_tag 'event_cards' %>

<div class="card-container">
  <div class="info-card">
    <div class="row">
      <h3><%= t('welcome.index.section3-card1-header') %></h3>
      <ul class="gameModeList"><%= t('welcome.index.section3-card1-description_html') %></ul>
    </div>
    <div class="row center">
      <% if not user_signed_in? %>
        <%= link_to t('welcome.index.sign-up-now'), new_user_session_path , class: 'btn card-button truncate'%>
      <% else %>
        <%= link_to t('events.new_tournament'), new_tournament_path, class: 'btn card-button truncate' %>
      <% end %>
    </div>
  </div>
  <div class="info-card">
    <div class="row">
      <h3><%= t('welcome.index.section3-card2-header') %></h3>
      <ul class="gameModeList"><%= t('welcome.index.section3-card2-description_html') %></ul>
    </div>
    <div class="row center">
      <% if not user_signed_in? %>
        <%= link_to t('welcome.index.sign-up-now'), new_user_session_path , class: 'btn card-button truncate'%>
      <% else %>
        <%= link_to t('events.new_league'), new_league_path, class: 'btn card-button truncate' %>
      <% end %>
    </div>
  </div>
  <div class="info-card">
    <div class="row">
      <h3><%= t('welcome.index.section3-card3-header') %></h3>
      <ul class="gameModeList"><%= t('welcome.index.section3-card3-description_html') %></ul>
    </div>
    <div class="row center">
      <% if not user_signed_in? %>
        <%= link_to t('welcome.index.sign-up-now'), new_user_session_path , class: 'btn card-button truncate'%>
      <% else %>
        <%= link_to t('events.new_rankinglist'), new_rankinglist_path, class: 'btn card-button truncate' %>
      <% end %>
    </div>
  </div>
</div>