<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :event_description %>
  </div>

  <div class="field">
    <%= form.label :game_mode %>
    <%= form.text_field :game_mode, id: :event_game_mode %>
  </div>

  <div class="field">
    <%= form.label :max_teams %>
    <%= form.text_field :max_teams, id: :event_max_teams %>
  </div>

  <div class="field">
    <%= form.label :discipline %>
    <%= form.text_field :discipline, id: :event_discipline %>
  </div>

  <div class="field">
    <%= form.label :player_type %>
    <%= form.text_field :player_type, id: :event_player_type %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.text_field :deadline, id: :event_deadline, :data => { :provide => 'datepicker', "date-format" => "dd/mm/yyyy" } %>
  </div> 

  <div class="field">
    <%= form.label :startdate %>
    <%= form.text_field :startdate, id: :event_startdate, :data => {:provide => 'datepicker', "date-format" => "dd/mm/yyyy"} %>
  </div>

  <div class="field">
    <%= form.label :enddate %>
    <%= form.text_field :enddate, id: :event_enddate, :data => {:provide => 'datepicker', "date-format" => "dd/mm/yyyy"} %>
  </div>

  <div class="field">
    <%= form.label :duration %> 
      Number of days: <%= form.text_field :duration, id: :event_duration %>
  </div>

  <div class="actions">
    <%= form.submit :event_submit => "Create event" %>
  </div>
<% end %>
