<%= form_for @event, html: { class: 'form-horizontal event' } do |f| %>
  <%= render partial: 'application/validation_errors', locals: {model: @event} %>

  <div class="form-group" id="event_title_basic_information">
    <h3 class="form-group__title"><%= t('activerecord.attributes.event.basic_information') %></h3>
  </div>
  <div class="form-group" id="event_name_div">
    <%= f.label :name, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.error_span(:name) %>
    </div>
  </div>

  <div class="form-group" id="event_description_div">
    <%= f.label :description, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_area :description, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group" id="event_max_teams_div">
    <%= f.label :max_teams, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :max_teams, class: 'form-control' %>
      <%= f.error_span(:max_teams) %>
    </div>
  </div>

  <div class="form-group" id="event_discipline_div">
    <%= f.label :discipline, class: 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :discipline, class: 'form-control' %>
      <%= f.error_span(:discipline) %>
    </div>
  </div>

  <%# Rendering the correct template depending on the event type %>
  <%= render "events/forms/#{@event.model_name}", form: f %>

  <div class="form-group" id="event_submit_div">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit submit_label,
                   class: 'btn btn-primary' %>
      <%= link_to t('helpers.links.cancel'),
                  back_path,
                  class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
