<%= form_for @event, :html => { :class => "form-horizontal event" } do |f| %>

    <%= render partial: "application/validation_errors", locals: {model: @event} %>

    <div class="form-group">
      <%= f.label t('events.new.name'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :name, id: :event_name, :class => 'form-control' %>
        <%= f.error_span(:name) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.description'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_area :description, id: :event_description, :class => 'form-control' %>
        <%= f.error_span(:description) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.event_type'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.collection_select :type, Event.types, :to_s, :to_s,
                                {selected: @event.type, include_blank: t('events.new.select_type')},
                                :class => 'form-control', :id => 'event_type' %>
      </div>
    </div>
    <div class="form-group" id="league-game-mode">
      <%= f.label t('events.new.game_mode'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select(:game_mode, League.game_modes.map {|k, v| [k.humanize, v]},
                     {:include_blank => t('events.new.select_game_mode')},
                     { :class => 'form-control', :id => 'event_game_mode_league'}) %>
      </div>
    </div>
    <div class="form-group" id="tournament-game-mode">
      <%= f.label t('events.new.game_mode'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select(:game_mode, Tournament.game_modes.map {|k, v| [k.humanize, v]},
                     {:include_blank => t('events.new.select_game_mode')},
                     { :class => 'form-control', :id => 'event_game_mode_tournament'}) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.player_type'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.select(:player_type, Event.player_types.map {|k, v| [k.humanize, v]},
                     {:include_blank => t('events.new.select_player_type')},
                     { :class => 'form-control'}) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.max_teams'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :max_teams, id: :event_max_teams, :class => 'form-control' %>
        <%= f.error_span(:max_teams) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.discipline'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :discipline, id: :event_discipline, :class => 'form-control' %>
        <%= f.error_span(:discipline) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.deadline'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :deadline, id: :event_deadline, :class => 'form-control', :data => { :provide => 'datepicker', "date-format" => "yyyy-mm-dd" } %>
        <%= f.error_span(:deadline) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.startdate'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :startdate, id: :event_startdate, :class => 'form-control', :data => { :provide => 'datepicker', "date-format" => "yyyy-mm-dd" } %>
        <%= f.error_span(:startdate) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.enddate'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :enddate, id: :event_enddate, :class => 'form-control', :data => { :provide => 'datepicker', "date-format" => "yyyy-mm-dd" } %>
        <%= f.error_span(:enddate) %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label t('events.new.duration'), :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.text_field :duration, id: :event_duration, :disabled => true, :class => 'form-control' %></div>
    </div>
    <div class="form-group">
      <div class="col-lg-offset-2 col-lg-10">
        <%= f.submit t('events.create_event'), :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    back_path, :class => 'btn btn-default' %>
      </div>
    </div>
<% end %>
