<% last_gameday = nil %>
<% if @event.game_mode == League.game_modes[:two_halfs] %>
    <tr class="gameday">
      <th colspan="6">
        <b>
          <%= t('events.schedule.first_half') %>
        </b>
      </th>
    </tr>
<% end %>
<% @matches.each do |match| %>
    <% if match.gameday != last_gameday %>
        <% if @event.game_mode == League.game_modes[:two_halfs] && match.gameday == @event.teams.size + 1 %>
            <tr class="gameday">
              <th colspan="6">
                <b>
                  <%= t('events.schedule.second_half') %>
                </b>
              </th>
            </tr>
        <% end %>
        <tr class="gameday">
          <th colspan="6">
            <b>
              <%= t 'events.schedule.gameday' %> <%= match.gameday %>
            </b>
            <b>
              <%= "- #{ (@event.startdate_for_gameday match.gameday).to_s(:day_and_month) } " %>
              <%= t 'events.schedule.to' %>
              <%= " #{(@event.enddate_for_gameday match.gameday).to_s(:day_and_month)}" %>
            </b>
          </th>
        </tr>
      <% last_gameday = match.gameday %>
    <% end %>
  <td>
    <td><%= match.place %></td>
    <td><%= match.team_home ? link_to(match.team_home.name, team_path(match.team_home)) : '---' %></td>
    <td><%= match.team_away ? link_to(match.team_away.name, team_path(match.team_away)) : '---' %></td>
    <td>
      <%= match.score_home ? match.score_home : '-' %>
      :
      <%= match.score_away ? match.score_away : '-' %>
    </td>
    <td>
      <%= form_for match, url: update_points_match_path(match), html: {method: "put"} do |f| %>
        <%= f.number_field :points_away, class: 'input-sm', style: 'width: 50px' %>
        :
        <%= f.number_field :points_home, class: 'input-sm', style: 'width: 50px' %>
        <%= f.submit t('helpers.links.save'), :class => 'btn btn-default btn-xs' %>
      <% end %>
    </td>
    <td>
      <%= date = (match.start_time_date+match.gameday-1).to_s(:day_and_month) %>
      <%= time = (match.start_time_time).to_s(:hours_and_minutes) %>
      <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#modal-time-<%= match.id %>">
        <%= t 'events.schedule.propose_new_appointment' %>
      </button>

      <!-- Modal -->
      <div id="modal-time-<%= match.id %>" class="modal fade" role="dialog">

        <!-- Modal content-->

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">
            <%= t 'events.schedule.propose_new_appointment' %>
          </h4>
        </div>
        <%= form_for match, url: update_appointment_match_path(match), html: {method: "put"} do |f| %>
            <div class="modal-body">
              <p>
                <%= t 'events.schedule.appointment' %>
              </p>

              <div class="input-group bootstrap-datepicker datepicker">
                <%= f.text_field :start_time_date, :class => 'form-control', :value => date, :data => { :provide => 'datepicker', "date-format" => "dd-mm-yyyy" } %>
              </div>
              <p>
                <%= t 'events.schedule.time'%>
              </p>

              <div class="input-group bootstrap-timepicker timepicker">
                <%= f.text_field :start_time_time, :class => 'form-control', :value => time, :data => { :provide => 'timepicker' }, :id => "#time-#{match.id}" %>
              </div>

              <script type="text/javascript">
                  $('#time-<%= match.id %>').timepicker();
              </script>
              <p>
                <%= t 'events.schedule.place' %>
              </p>
              <%= f.text_field :place, :class => 'form-control', :value => match.place %>
            </div>
            <div class="modal-footer">
              <%= f.submit t('helpers.links.save'), :class => 'btn btn-success btn-sm' %>
              <button type="button" class="btn btn-default" data-dismiss="modal">
                <%= t('helpers.links.cancel') %>
              </button>
            </div>
        <% end %>
      </div>

    </td>
    <td>
      <%= link_to t('.show', default: t('helpers.links.show')),
                  match_path(match), :class => 'btn btn-default btn-xs' %>
      <%= link_to t('.edit', default: t('helpers.links.edit')),
                  edit_match_path(match), :class => 'btn btn-default btn-xs' %>
      <%= link_to t('.destroy', default: t('helpers.links.destroy')),
                  match_path(match),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', default: t('helpers.links.confirm')) },
                  :class => 'btn btn-xs btn-danger' %>
    </td>
  </tr>
<% end %>