<% level = 0 %>
<% while true %>
  <% this_level_matches = @matches.select { |match| match.gameday_number == level } %>
  <% if this_level_matches.length == 0 %>
    <% break %>
  <% end %>


  <tr class="gameday">
    <th colspan="6">
      <b>
        <% if this_level_matches[0].depth == -1 %>
          <%= t('events.schedule.place_3_match') %>
        <% elsif this_level_matches[0].depth == 0 %>
          <%= t('events.schedule.finale') %>
        <% elsif this_level_matches[0].depth == 1 %>
          <%= t('events.schedule.semifinale') %>
        <% elsif this_level_matches[0].depth == 2 %>
          <%= t('events.schedule.quarterfinale') %>
        <% elsif this_level_matches[0].depth == 3 %>
          <%= t('events.schedule.eighthfinale') %>
        <% else %>
          <%= t('events.schedule.preliminaries', round: (level + 1).to_s) %>
        <% end %>
      </b>
    </th>
  </tr>

  <% this_level_matches.each do |match| %>

    <tr>
      <td><%= match.index %></td>
      <td><%= match.place %></td>
      <td><%= link_to_participant match.team_home %></td>
      <td><%= link_to_participant match.team_away %></td>
      <td class="text-center">
        <% match.game_results.each do |result| %>
          <%= result.score_home ? result.score_home : '-' %>
          :
          <%= result.score_away ? result.score_away : '-' %>
          <br/>
        <% end %>
      </td>
      <td>
        <%= form_for match, url: update_points_match_path(match), html: { method: "put" }, namespace: "match_#{match.id}" do |f| %>
          <%= f.number_field :points_home, class: 'input-sm', style: 'width: 50px' %>
          :
          <%= f.number_field :points_away, class: 'input-sm', style: 'width: 50px' %>
          <%= f.submit t('helpers.links.save'), class: 'btn btn-default btn-xs', id: "save_points_#{match.id}" %>
        <% end %>
      </td>
      <td>
        <% unless match.start_time.nil? %>
          <!-- 32400 seconds so it is 09:00 as default time, otherwise it would be 00:00 -->
          <%= date = (match.start_time_date + match.gameday_number - 1).to_s(:day_and_month) %>
          <%= time = (match.start_time_time + 32400).to_s(:hours_and_minutes) %>
        <% end %>
      </td>
      <td>
        <%= link_to t('.show', default: t('helpers.links.show')),
                    match_path(match), :class => 'btn btn-default btn-xs' %>
        <% if current_user&.admin %>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
                      edit_match_path(match), :class => 'btn btn-default btn-xs' %>
        <% end %>
      </td>
    </tr>
  <% end %>

  <% level += 1 %>
<% end %>
