<% level = 0 %>
<% while true %>
  <% this_level_matches = @matches.select { |match| match.gameday == level } %>
  <% if this_level_matches.length == 0 %>
    <% break %>
  <% end %>


  <tr class="gameday">
    <th colspan="6">
      <b>
        <% if this_level_matches.length == 1 %>
          Finale
        <% elsif this_level_matches.length == 2 %>
          Halbfinale
        <% elsif this_level_matches.length == 4 %>
          Viertelfinale
        <% elsif this_level_matches.length == 8 %>
          Achtelfinale
        <% else %>
          Vorrunde <%= (level + 1).to_s %>
        <% end %>
      </b>
    </th>
  </tr>

  <% this_level_matches.each do |match| %>

    <tr>
      <td><%= match.place %> <%= match.index %></td>
      <% #TODO: continue here with "Gewinner von Spiel 4" %>
      <td><%= match.team_home_type == 'Match' ? link_to('Gewinner ' + match.team_home.name, match_path(match.team_home)) : link_to(match.team_home.name, team_path(match.team_home)) %></td>
      <td><%= match.team_away_type == 'Match' ? link_to('Gewinner ' + match.team_away.name, match_path(match.team_away)) : link_to(match.team_away.name, team_path(match.team_away)) %></td>
      <td>
        <%= match.score_home ? match.score_home : '-' %>
        :
        <%= match.score_away ? match.score_away : '-' %>
      </td>
      <td>
        <%= form_for match, url: update_points_match_path(match), html: {method: "put"} do |f| %>
          <%= f.text_field :points_away, class: 'input-sm', style: 'width: 50px' %>
          :
          <%= f.text_field :points_home, class: 'input-sm', style: 'width: 50px' %>
          <%= f.submit t('helpers.links.save'), :class => 'btn btn-default btn-xs' %>
        <% end %>
      </td>
      <td>
        <%= link_to t('.show', default: t('helpers.links.show')),
                    match_path(match), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.edit', default: t('helpers.links.edit')),
                    edit_match_path(match), :class => 'btn btn-default btn-xs' %>
      </td>
    </tr>
  <% end %>

  <% level += 1 %>
<% end %>
<%= console %>