<% level = 0 %>
<% while true %>
  <% this_level_matches = @matches.select { |match| match.gameday == level } %>
  <% if this_level_matches.length == 0 %>
    <% break %>
  <% end %>


  <tr class="gameday">
    <th colspan="6">
      <b>
        <% if this_level_matches[0].depth == -1 %>
          <%= t('events.schedule.place_3_match') %>
        <% elsif this_level_matches[0].depth == 0 %>
          <%= t('events.schedule.finale') %>
        <% elsif this_level_matches[0].depth == 1 %>
          <%= t('events.schedule.semifinale') %>
        <% elsif this_level_matches[0].depth == 2 %>
          <%= t('events.schedule.quarterfinale') %>
        <% elsif this_level_matches[0].depth == 3 %>
          <%= t('events.schedule.eighthfinale') %>
        <% else %>
          <%= t('events.schedule.preliminaries', round: (level + 1).to_s) %>
        <% end %>
      </b>
    </th>
  </tr>

  <% this_level_matches.each do |match| %>

    <tr>
      <td><%= match.index %></td>
      <td><%= match.place %></td>
      <td><%= link_to_participant match.team_home %></td>
      <td><%= link_to_participant match.team_away %></td>
      <td>
        <%= match.score_home ? match.score_home : '-' %>
        :
        <%= match.score_away ? match.score_away : '-' %>
      </td>
      <td>
        <%= form_for match, url: update_points_match_path(match), html: {method: "put"}, namespace: "match_#{match.id}" do |f| %>
          <%= f.number_field :points_home, class: 'input-sm', style: 'width: 50px' %>
          :
          <%= f.number_field :points_away, class: 'input-sm', style: 'width: 50px' %>
          <%= f.submit t('helpers.links.save'), class: 'btn btn-default btn-xs', id: "save_points_#{match.id}" %>
        <% end %>
      </td>
      <td>
        <!-- 32400 seconds so it is 09:00 as default time, otherwise it would be 00:00 -->
        <%= date = (match.start_time_date+match.gameday).strftime("%d-%m-%Y") %>
        <%= time = (match.start_time_time+32400).strftime("%H:%M") %>
      </td>
      <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal">
        <%= t 'events.schedule.propose_new_appointment' %>
      </button>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">
                <%= t 'events.schedule.propose_new_appointment' %>
              </h4>
            </div>
            <%= form_for match, url: update_appointment_match_path(match), html: {method: "put"} do |f| %>
                <div class="modal-body">
                  <p>
                    <%= t 'events.schedule.appointment' %>
                  </p>
                  <div class="input-group bootstrap-datepicker datepicker">
                    <%= f.text_field :start_time, :class => 'form-control', :value => date, :data => { :provide => 'datepicker', "date-format" => "dd-mm-yyyy" } %>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                  <p>
                    <%= t '.time'%>
                  </p>

                  <div class="input-group bootstrap-timepicker timepicker">
                    <%= f.text_field :start_time, :class => 'form-control', :value => time, :data => { :provide => 'timepicker' }, :id => "time" %>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                  </div>

                  <script type="text/javascript">
                      $('#time').timepicker();
                  </script>
                  <p>
                    <%= t 'events.schedule.place' %>
                  </p>
                  <%= f.text_field :place, :class => 'form-control', :value => match.place %>
                </div>
                <div class="modal-footer">
                  <button type="button" class='btn btn-success btn-xs'>
                    <%= f.submit t('helpers.links.save'), :class => 'btn btn-success btn-sm' %>
                  </button>
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <%= t('helpers.links.cancel') %>
                  </button>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <td>
        <%= link_to t('.show', default: t('helpers.links.show')),
                    match_path(match), :class => 'btn btn-default btn-xs' %>
        <%= link_to t('.edit', default: t('helpers.links.edit')),
                    edit_match_path(match), :class => 'btn btn-default btn-xs' %>
      </td>
    </tr>
  <% end %>

  <% level += 1 %>
<% end %>
