<div class="page-header">
  <h1><%= t('events.choose_event_format') %></h1>
  <p style="color: #01A8E8"><%= t('welcome.index.lead-description') %></p>
</div>


<%= render partial: 'events/event_cards' %>

<h1><%= t 'events.templates' %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <% [:name, :game_mode, :max_teams, :deadline, :startdate, :enddate].each do |attribute| %>
      <th><%= Event.human_attribute_name(attribute) %></th>
    <% end %>
    <th><%= t '.actions', default: t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @template_events.each do |event| %>
    <tr>
      <td><%= event.name %></td>
      <td><%= event.human_game_mode %></td>
      <td><%= event.max_teams %></td>
      <td><%= event.deadline %></td>
      <td><%= event.startdate %></td>
      <td><%= event.enddate %></td>
      <td>
        <%= link_to t('events.create_event', default: t("helpers.links.create")),
                    create_from_template_event_path(
                        :name => event.name,
                        :description => event.description,
                        :discipline => event.discipline,
                        :type => event.type,
                        :game_mode => event.game_mode,
                        :max_teams => event.max_teams,
                        :deadline => event.deadline,
                        :startdate => event.startdate,
                        :teams => event.teams,
                        :enddate => event.enddate,
                        :initial_value => event.initial_value,
                        :min_players_per_team => event.min_players_per_team,
                        :max_players_per_team => event.max_players_per_team,
                        :gameday_duration => event.gameday_duration,
                        :id => event.id),
                    remote: true, data: {toggle: "modal", target: "modal-window"},
                    class: 'btn btn-xs btn-default trigger-modal',
                    id: :create_from_template_button %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
