<%- model_class = Event -%>
<div class="page-header">
  <h1><%= t '.title', default: model_class.model_name.human(count: :many).titleize %></h1>
</div>
<% if can? :create, Event %>
  <div class="row">
      <%= link_to t('view.event.new'),
                  new_event_path,
                  :class => 'btn btn-primary mobile-header' %>
  </div>
<% end %>
<% if user_signed_in? and current_user.all_events.present? %>
    <h4><%= t('events.index.my_events')%></h4>
    <div class="tile-wrapper">
      <% current_user.all_events.each do |event| %>
          <%= render partial: 'application/tile_template', locals: {title: event.name, image_url: event.image_url || image_path('missing_event_image.png'), description: event.build_description_string,
          destination_path: event_path(event), description_class: 'event-details mobile-event-details'} %>
      <% end %>
    </div>
  <br>
<% end %>
<h4><%= t('events.index.all_events') %></h4>
    <div class="tile-wrapper">
      <% @events.each do |event| %>
          <%= render partial: 'application/tile_template', locals: {title: event.name, image_url: event.image_url || image_path('missing_event_image.png'), description: event.build_description_string,
          destination_path: event_path(event), description_class: 'event-details mobile-event-details'} %>
      <% end %>
    </div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
