<p id="notice"><%= notice %></p>


<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human(:count => :many).titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <% [:name,:description,:gamemode,:sport,:teamsport,:playercount,:gamesystem,:deadline].each do |attribute| %>
      <th><%= model_class.human_attribute_name(attribute) %></th>
    <% end %>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.gamemode %></td>
        <td><%= event.sport %></td>
        <td><%= event.teamsport %></td>
        <td><%= event.playercount %></td>
        <td><%= event.gamesystem %></td>
        <td><%= event.deadline %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      event_path(event), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_path(event), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_path(event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
