<%- model_class = Event -%>
<div class="page-header">
  <h1><%= t('events.overview.title') %></h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= I18n.t "events.overview.teamColumn" %></th>
    <th><%= I18n.t "events.overview.standingColumn" %></th>
  </tr>
  </thead>
  <tbody>
  <% @event.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_path(team) %></td>
        <td>
          <% match = @event.last_match_of(team) %>
          <% if match %>
            <%= link_to @event.standing_of(team), match_path(@event.last_match_of(team)) %>
            <% opponent = match.opponent_of(team) %>
            <% if opponent.is_a? Team %>
              <%= t('events.overview.against') %>
              <%= link_to opponent.name, team_path(opponent) %>
            <% end %>
          <% else %>
            <%= @event.standing_of(team)  %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
