
<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<% if @schedule_type == 'league' %>
  <div class="schedule-view-switches">
    <button class="btn to-schedule-all-view"><%= t '.show_all' %></button>
    <button class="btn to-schedule-single-view"><%= t '.show_single' %></button>
  </div>

  <div class="schedule-single-view">
    <%= render partial: "events/schedule/league_single" %>
  </div>
<% end %>

<div class="schedule-all-view">
  <%= render ('schedule_' + @schedule_type), back_path: events_path %>
</div>
