<%- model_class = @event.class -%>
<div class="page-header">
  <h1>
    <%=t '.title', default: @event.model_name.human.titleize %>
  </h1>
  <% if user_signed_in? %>
    <span class="pull-right">
      <% if current_user.organizing_events.include?(@event) %>
        <% if can? :edit, @event %>
          <%= link_to t('.edit', default: t('helpers.links.edit')),
                      edit_event_path(@event), class: 'btn btn-default' %>
        <% end %>
        <% if can? :destroy, @event %>
          <%= link_to t('.destroy', default: t('helpers.links.destroy')),
                      event_path(@event),
                      method: 'delete',
                      data: {confirm: t('.confirm', default: t('helpers.links.confirm'))},
                      class: 'btn btn-danger' %>
        <% end %>
      <% end %>
    </span>
  <% end %>
</div>

<% if @event.is_a? Tournament and @event.finale.present? and @event.finale.has_winner? %>
  <div class="table-responsive">
    <h3><%= t('events.show.winners') %></h3>
    <table class="table">
      <tr>
        <th>Platzierung</th>
        <th><%= @event.participant_model.model_name.human.titleize %></th>
      </tr>
      <tr>
        <td><%= t 'events.placing.first' %></td>
        <td><%= link_to_participant @event.finale.winner %></td>
      </tr>
      <tr>
        <td><%= t 'events.placing.second' %></td>
        <td><%= link_to_participant @event.finale.loser %></td>
      </tr>
    </table>
  </div>
<% end %>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @event.name %></dd>

  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>

  <dt><strong><%= model_class.human_attribute_name(:discipline) %>:</strong></dt>
  <dd><%= @event.discipline %></dd>

  <dt><strong><%= model_class.human_attribute_name((@event.type == 'Rankinglist') ? :metric : :game_mode) %>:</strong></dt>
  <dd><%= @event.human_game_mode %></dd>

  <% if @event.type != 'Rankinglist' %>
    <dt><strong><%= model_class.human_attribute_name(:max_teams) %>:</strong></dt>
    <dd><%= @event.max_teams.present? ? @event.max_teams : t('events.max_teams.infinite') %></dd>

    <dt><strong><%= model_class.human_attribute_name(:player_type) %>:</strong></dt>
    <dd><%= @event.human_player_type %></dd>

    <dt><strong><%= model_class.human_attribute_name(:deadline) %>:</strong></dt>
    <dd><%= @event.deadline %></dd>

    <dt><strong><%= model_class.human_attribute_name(:startdate) %>:</strong></dt>
    <dd><%= @event.startdate %></dd>

    <dt><strong><%= model_class.human_attribute_name(:enddate) %>:</strong></dt>
    <dd><%= @event.enddate %></dd>
  <% end %>
  <% unless @event.gameday_duration.nil? %>
    <dt><strong><%= model_class.human_attribute_name(:gameday_duration) %>:</strong></dt>
    <dd><%= @event.gameday_duration %></dd>
  <% end %>
</dl>

<div class="table-responsive">
  <h3><%= t("events.show.participants") %></h3>
  <table class="table">
    <thead><tr><th><%=t '.title', default: @event.participant_model.model_name.human.titleize %></th></tr></thead>
    <tbody>
    <% @event.teams.each do |participant| %>
      <tr><td><%= link_to_participant participant %></td></tr>
    <% end %>
    </tbody>
  </table>
</div>
<% if @event.type != 'Rankinglist' %>
  <%= link_to t('.to_schedule'),
              event_schedule_path(@event),
              class: 'btn btn-default'%>

  <%= link_to t('.to_overview'),
              event_overview_path(@event),
              class: 'btn btn-default' %>
<% end %>
<%= link_to t('.to_ranking'),
            event_ranking_path(@event),
            class: 'btn btn-default' %>

<%# app/helpers/button_helper.rb %>
<%= back_btn %>
<% if can? :leave, @event %>
  <%= link_to t('.leave', default: t('helpers.links.leave')),
              leave_event_path(@event),
              method: :put,
              class: 'btn btn-default',
              disabled: (not @event.owns_participating_teams?(current_user)),
              id: :leave_event_button %>
  <%= t('events.participating') %>
<% end %>
<% if can? :join, @event%>
  <% if @event.single? %>
    <%= link_to t('.join', default: t('helpers.links.join')),
                 join_event_path(@event),
                 method: :put,
                 class: 'btn btn-default',
                 id: :join_event_button %>
  <% else %>
    <%= link_to t('.join', default: t("helpers.links.join")),
                team_join_event_path(@event),
                remote: true, data: {toggle: "modal", target: "modal-window"},
                class: 'btn btn-default',
                id: :join_event_button %>
  <% end %>
<% end %>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
