<%= stylesheet_link_tag 'sign_in' %>

<h1><%= t('.sign_in') %></h1>
<div class="row">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
    <div class="row">
      <div class="<%= if flash[:alert].present? then "input-field-error input-field" else "input-field" end%> col s6 offset-s3">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <div class="row">
      <div class="<%= if flash[:alert].present? then "input-field-error input-field" else "input-field" end%> col s6 offset-s3">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>
      <% if flash[:alert].present? then  %>
          <div class="center">
          <label> <div class="has-error"> <span class = help-block><%= flash[:alert] %>
          </span> </div> </label> <%end%> </div>

    <% if devise_mapping.rememberable? %>
        <div class="center">
          <%= f.check_box :remember_me, class: 'filled-in' %>
          <%= f.label :remember_me %>
        </div>
    <% end %>
    <div class="row">
      <div class="center">
          <%= f.submit t('.sign_in'), class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="center">
        <%= link_to t('devise.registrations.sign_in_with_provider', provider: 'OpenID'),
                    omniauth_authorize_path(:user, :hpiopenid) %>
      </div>
    </div>
  <% end %>
</div>
<div class="row" style="margin-top: 10px">
  <div class="center text">
    <%= render 'devise/shared/links' %>
  </div>
</div>
</div>