<%- model_class = Match -%>
<%= form_for @match, :html => { :class => "form-horizontal match" } do |f| %>

  <%= render partial: "application/validation_errors", locals: {model: @match} %>

  <div class="form-group">
    <%= f.label :place, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :place, :class => 'form-control' %>
      <%= f.error_span(:place) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :team_home_id, for: "team_home_id", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :team_home_id, Team.all, :id, :name,
                              {selected: @match.team_home_id, include_blank: '---'},
                               :class => 'form-control'  %>

      <%= f.error_span(:team_home) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :team_away_id, for: "team_away_id", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :team_away_id, Team.all, :id, :name,
                              {selected: @match.team_away_id, include_blank: '---'},
                               :class => 'form-control'  %>

      <%= f.error_span(:team_away) %>
    </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading"><%= t("view.match.game_results") %></div>
    <div class="panel-body results">
      <% if is_creation_form %>
        <noscript>Javascript is disabled. To add results, first finish the match creation and visit the edit page of the match</noscript>
      <% else %>
        <noscript>Javascript is disabled. Please use (Noscript) buttons to add and remove results</noscript>
      <% end %>
      <%= f.nested_fields_for :game_results do |builder| %>
        <div class="result">
          <div class="form-group">
            <%= builder.label :score_home, GameResult.human_attribute_name(:score_home), class: 'control-label col-xs-2' %>
            <div class="col-xs-2">
              <%= builder.text_field :score_home, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= builder.label :score_away, GameResult.human_attribute_name(:score_away), class: 'control-label col-xs-2' %>
            <div class="col-xs-2">
              <%= builder.text_field :score_away, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <a href="#" class="remove col-xs-offset-1 btn btn-default"><%= t("view.match.remove_game_result") %></a>
            <%= builder.hidden_field :id %>
            <%= builder.hidden_field :_destroy %>
            <noscript>
              <br/>
              <% if !builder.object.id.nil? %>
                <%= link_to("(Noscript) Remove Result", remove_game_result_match_path(id: @match.id, result_id: builder.object.id), class: 'col-xs-offset-1 btn btn-default') %>
              <% end %>
            </noscript>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
    <div class="panel-footer">
      <a href="#" id="add_game_result" class="add btn btn-default"><%= t("view.match.add_game_result") %></a>
      <noscript>
        <br/>
        <%= link_to "(Noscript) Add Result", add_game_result_match_path(@match), class: 'btn btn-default' %>
      </noscript>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                event_schedule_path(@match.event), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
