<%= form_for @match, :html => { :class => "form-horizontal match" } do |f| %>

  <%= render partial: "application/validation_errors", locals: {model: @match} %>

  <div class="form-group">
    <%= f.label :place, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :place, :class => 'form-control' %>
      <%= f.error_span(:place) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Team Home", for: "team_home_id", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :team_home_id, Team.all, :id, :name,
                              {selected: @match.team_home_id, include_blank: '---'},
                               :class => 'form-control'  %>

      <%= f.error_span(:team_home) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Team Away", for: "team_away_id", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select :team_away_id, Team.all, :id, :name,
                              {selected: @match.team_away_id, include_blank: '---'},
                               :class => 'form-control'  %>

      <%= f.error_span(:team_away) %>
    </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-heading"><%= t("view.match.game_results") %></div>
    <div class="panel-body results">
      <%= f.nested_fields_for :game_results do |builder| %>
        <div class="result">
          <div class="form-group">
            <%= builder.label :score_home, GameResult.human_attribute_name(:score_home), class: 'control-label col-xs-2' %>
            <div class="col-xs-2">
              <%= builder.text_field :score_home, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= builder.label :score_away, GameResult.human_attribute_name(:score_away), class: 'control-label col-xs-2' %>
            <div class="col-xs-2">
              <%= builder.text_field :score_away, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <a href="#" class="remove col-xs-offset-1 col-xs-2 btn btn-default"><%= t("view.match.remove_game_result") %></a>
            <%= builder.hidden_field :id %>
            <%= builder.hidden_field :_destroy %>
          </div>
        </div>
        <br/>
      <% end %>
    </div>
    <div class="panel-footer">
      <a href="#" class="add btn btn-default"><%= t("view.match.add_game_result") %></a>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                event_schedule_path(@match.event), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
