<div class="page-header">
  <h1><%=t '.title', :default => :'helpers.titles.edit', :model => t('activerecord.models.game_result.other') %></h1>
</div>

<%= form_for @match, url: { action: 'update_results', method: 'patch' }, html: { :class => "form-horizontal match" } do |f| %>

  <%= render partial: "application/validation_errors", locals: {model: @match} %>

  <div class="panel panel-default">
    <div class="panel-heading"><%= t("view.match.game_results") %></div>
      <div class="panel-body results">
        <noscript>
          <%= t("view.match.noscript.add_results_notice.edit_match") %>
        </noscript>
        <%= f.nested_fields_for :game_results do |builder| %>
          <div class="result">
            <div class="form-group">
              <%= builder.label :score_home, GameResult.human_attribute_name(:score_home), class: 'control-label col-xs-2' %>
              <div class="col-xs-2">
                <%= builder.text_field :score_home, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <%= builder.label :score_away, GameResult.human_attribute_name(:score_away), class: 'control-label col-xs-2' %>
              <div class="col-xs-2">
                <%= builder.text_field :score_away, class: 'form-control' %>
              </div>
            </div>
            <div class="form-group">
              <a href="#" class="remove col-xs-offset-1 btn btn-default"><%= t("view.match.remove_game_result") %></a>
              <%= builder.hidden_field :id %>
              <%= builder.hidden_field :_destroy %>
              <noscript>
                <% if !builder.object.id.nil? %>
                  <br/>
                  <%= link_to(
                    t("view.match.noscript.button_prefix") + t("view.match.remove_game_result"),
                    remove_game_result_match_path(id: @match.id, result_id: builder.object.id),
                    class: 'col-xs-offset-1 btn btn-default') %>
                <% end %>
              </noscript>
            </div>
          </div>
          <br/>
        <% end %>
      </div>
      <div class="panel-footer">
      <a href="#" id="add_game_result" class="add btn btn-default"><%= t("view.match.add_game_result") %></a>
      <noscript>
        <br/>
        <%= link_to t("view.match.noscript.button_prefix") + t("view.match.add_game_result"), add_game_result_match_path(@match), class: 'btn btn-default' %>
      </noscript>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                event_schedule_path(@match.event), :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
