<%- model_class = Match -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:gameday) %>:</strong></dt>
  <dd><%= @match.gameday_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:place) %>:</strong></dt>
  <dd><%= @match.place %></dd>
  <dt><strong><%= model_class.human_attribute_name(:team_home_id) %>:</strong></dt>
  <dd><%= link_to_participant @match.team_home %></dd>
  <dt><strong><%= model_class.human_attribute_name(:team_away_id) %>:</strong></dt>
  <dd><%= link_to_participant @match.team_away %></dd>
</dl>

<h2><%= t("activerecord.models.game_result", count: @match.game_results.size) %></h2>
<table class="table">
  <thead>
    <tr>
      <th><%= GameResult.human_attribute_name(:score_home) %></th>
      <th><%= GameResult.human_attribute_name(:score_away) %></th>
    </tr>
  </thead>
  <tbody>
    <% @match.game_results.each do |result| %>
      <tr>
        <td><%= result.score_home %></td>
        <td><%= result.score_away %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%# app/helpers/button_helper.rb %>
<%= back_btn %>
<% if !@match.event.is_a? Rankinglist %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_match_path(@match), :class => 'btn btn-default' %>
<%end%>
<%= link_to t('view.match.edit_results'),
            edit_results_match_path(@match),
            class: 'btn btn-default',
            id: 'edit_results' %>
<% if !@match.event.is_a? Rankinglist %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              match_path(@match),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm")) },
              :class => 'btn btn-danger' %>
<%end%>

