<div class="form-group order-5">
  <%= form.label :deadline, for: :event_deadline, class: 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.text_field :deadline,
                     id: :event_deadline,
                     class: 'form-control',
                     data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'} %>
    <%= form.error_span(:deadline) %>
  </div>
</div>

<div class="form-group order-5">
  <%= form.label :startdate, for: :event_startdate, class: 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.text_field :startdate,
                     id: :event_startdate,
                     class: 'form-control',
                     data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'} %>
    <%= form.error_span(:startdate) %>
  </div>
</div>

<div class="form-group order-5">
  <%= form.label :enddate, for: :event_enddate, class: 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.text_field :enddate,
                     id: :event_enddate,
                     class: 'form-control',
                     data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd'} %>
    <%= form.error_span(:enddate) %>
  </div>
</div>

<div class="form-group order-5">
  <%= form.label :duration, for: :event_duration, class: 'control-label col-lg-2' %>
  <div class="col-lg-10">
    <%= form.text_field :duration, id: :event_duration, class: 'form-control' %>
  </div>
</div>
