<h1><%= t('mailer.hello', firstname: @user.first_name) %></h1>
<p><%= t('.info_html',
         opponent_team_link: link_to(@opponent_team.name, team_url(@opponent_team)),
         event_link: link_to(@match.event.name, event_url(@match.event))) %></p>
<% if @match.start_time %>
  <p><%= t('match_mailer.start_time',
           start_date: I18n.localize(@match.start_time.to_date),
           start_time: @match.start_time.to_s(:time)) %></p>
<% end %>
<% if @match.place %>
  <p><%= t('match_mailer.place', place: @match.place) %></p>
<% end %>
<p><%= t('.have_fun') %></p>
<p><%= t('match_mailer.apply_changes_html', match_link: link_to(t('match_mailer.here'), match_url(@match))) %></p>
<p><%= t('mailer.closing', appname: t('appname')) %></p>
