<h1>Match date changed</h1>

<p>
  Hallo <%= @user_name %>,
  dein Spiel gegen <%= @opponent %> in <%= @event %> wurde auf <%= @date %> verschoben.
  Viel Erfolg beim Training!
  <%= @event_url %>
</p>
