<p><%= t('.greeting', name: @resource.first_name.capitalize) %></p>

<p><%= t('.instruction') %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, host: ENV['HOST_URL'], reset_password_token: @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>
