
<div onclick="location.href='<%= destination_path%>';" class="tile">
  <div class="tile-img-wrapper">
    <img class="tile-img mobile-img" src="<%= image_url %>"/>
  </div>
  <span class="tile-title mobile-title"> <%= title %></span>
  <br>
  <span class="event-details mobile-event-details">Anmeldung bis: <%= deadline %> | Start: <%= startdate%></span>
</div>

