<%= stylesheet_link_tag 'event_cards' %>

<div class="card-container">
  <div class="row">
    <div class="info-card col s12 m4">
      <h3><%= t('welcome.index.section3-card1-header') %></h3>
      <div class="row">
        <ul class="gameModeList"><%= t('welcome.index.section3-card1-description_html') %></ul>
      </div>
    </div>
    <div class="info-card col s12 m4">
      <h3><%= t('welcome.index.section3-card2-header') %></h3>
      <div class="row">
        <ul class="gameModeList"><%= t('welcome.index.section3-card2-description_html') %></ul>
      </div>
    </div>
    <div class="info-card col s12 m4">
      <h3><%= t('welcome.index.section3-card3-header') %></h3>
      <div class="row">
        <ul class="gameModeList"><%= t('welcome.index.section3-card3-description_html') %></ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m4 center card-button-col">
      <% if not user_signed_in? %>
          <%= link_to t('welcome.index.free-sign-up'), new_user_session_path , class: 'btn createScheduleButton genericButton card-button truncate'%>
      <% else %>
          <%= link_to t('events.new_tournament'), new_tournament_path, class: 'btn registerButton genericButton card-button truncate' %>
      <% end %>
    </div>
    <div class="col s12 m4 center card-button-col">
      <% if not user_signed_in? %>
          <%= link_to t('welcome.index.free-sign-up'), new_user_session_path , class: 'btn createScheduleButton genericButton card-button truncate'%>
      <% else %>
          <%= link_to t('events.new_league'), new_league_path, class: 'btn registerButton genericButton card-button truncate' %>
      <% end %>
    </div>
    <div class="col s12 m4 center card-button-col">
      <% if not user_signed_in? %>
          <%= link_to t('welcome.index.free-sign-up'), new_user_session_path , class: 'btn createScheduleButton genericButton card-button truncate'%>
      <% else %>
          <%= link_to t('events.new_rankinglist'), new_rankinglist_path, class: 'btn registerButton genericButton card-button truncate' %>
      <% end %>
    </div>
  </div>
</div>