<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= t('appname') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=>'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <!--Display the background only when user signs in-->
  <% if (action_name === "new" && controller_name == "sessions" or controller_name === "users") && !(request.user_agent =~ /Mobile|webOS/) %>
    <body class="background navbar-overlap">
  <% else %>
    <body class="navbar-overlap">
  <% end %>
    <div class="container">
      <%= render partial: "application/navbar" %>

      <%# flash messages in bootstrap style, helper from twitter-bootstrap-rails gem %>
      <%# https://github.com/seyhunak/twitter-bootstrap-rails#flash-helper %>
      <%= bootstrap_flash %>

      <%# Render content of views %>
      <%= yield %>

      <%= render partial: "application/footer"%>
    </div>
  </body>
</html>
