<!DOCTYPE html>
<html>
  <head>
    <title><%= t('appname') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div class="container">
	  	<%= nav_bar fixed: :top, brand: t('appname') do %>
		    <%= menu_group do %>
		        <%= menu_item Player.model_name.human(:count => :many).titleize, players_path %>
		        <%= menu_item Team.model_name.human(:count => :many).titleize, teams_path %>
		        <%= menu_item Match.model_name.human(:count => :many).titleize, matches_path %>
		    <% end %>
	    <% end %>
	    <%= yield %>
	  </div>
  </body>
</html>
